*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    font-family: "Inter";
}

body{
    background: url("../assets/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

/**
    Editando container principal do mobile
**/

#container{
    width: 360px;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
}

/**
    Edição da foto de perfil e do @
**/

#profile img{
    width: 112px;
    height: 112px;
}

#profile p{
    font-size:1rem;
    line-height: 1.5rem;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;

}

/*Edição da lista com links*/

#links ul{
    list-style:none;
}

#links ul li a{
    text-decoration: none;
    border-radius: 10px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    padding: 1.25rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

/*Ajustes dos links de redes sociais*/
#icons{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

#icons a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px;
    font-size: 1.5rem;
}

/*Footer*/
footer{
    color: #ffffff;
    margin-top: 1rem;
}

footer a{
    color:#FFFFFF;
}